.Navbar {
    width: 100%;
    height: 5rem;
    border-bottom: rgb(128,188,245) solid 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EDEDED;
}

.rightNavGroup {
    display: flex;
    align-items: center;
}

.rightNavGroup button {
    background-color: #EDEDED;
    border: #CACACA solid 1.5px;
    height: 1.5rem;
    width: 6rem;
    margin-right: 1rem;
}

.leftNavGroup {
    display: flex;
    width: 10rem;
}

li {
    margin-right: 1rem;
}

.leftNavGroup li button {
    background-color: #EDEDED;
    border: #CACACA solid 1.5px;
    height: 1.5rem;
    width: 6rem;
}

.searchInput {
    width: 25rem;
    height: 2rem;
    padding-left: 1rem;
    border: #CACACA solid 1.5px;
}

.searchInputUl {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}